vnstock~=3.5.0
pytz
pydantic~=2.12.4
pydantic-settings~=2.12.0
fastapi
uvicorn
python-dotenv
psycopg2-binary~=2.9.10

pandas~=3.0.1
numpy
scipy~=1.17.1
matplotlib~=3.10.8
statsmodels~=0.14.6

openai
fastapi
uvicorn
google-genai
redis>=5.0.0,<6.0.0

asyncpg